body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}

.text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: #2e2f42;
}

.link-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-nav:hover {
  color: #404bbf;
}

.link-nav:focus {
  color: #404bbf;
}

.page-address {
  font-style: normal;
}

.link-address {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
}

.link-address:focus {
  color: #404bbf;
}

.link-address:hover {
  color: #404bbf;
}

.link-address .link:active {
  color: #404bbf;
}


.hero {
  background-color: #2e2f42;
}

.title-hero {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}

.button:focus {
  background-color: #404bbf;
}

.button:hover {
  background-color: #404bbf;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.item-card {
  background-color: #ffffff;
}

.card {
  background-color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}

.text-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-white {
  color: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}
